@font-face {
  font-family: GlitchFont;
  src: url('../../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
}

.NoBlogPosts {
  width : 100%;
  height : 100%;
  display : flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items : center;
  font-size: 50px;
  font-weight : bold;
  background-color: rgb(27, 27, 27, 1);
  color: white;
}

.MainBlogPage {
  width : 100;;
  height : fit-content;
  display: flex;
  flex-direction:  column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 500px;
  background-color: rgb(27, 27, 27, 1);
}

.profilePicAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.profilePic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  overflow: hidden;
}

@media (max-width : 1439px) {
  .profilePic {
    width : 50px;
    height : 50px;
  }
}

@media (min-width : 1440px) {
  .profilePic {
    width : 150px;
    height : 150px;
  }
}

.profilePic img {
  width : 100%;
  height : 100%;
  object-fit: contain;
}

.BlogEntry {
  min-height : 500px;
  height : fit-content;
  border-color: rgb(215, 215, 215);
  background-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 12px 12px 12px 12px rgb(0, 0, 0, 0.5);
}

@media (max-width : 1439px) {
  .BlogEntry {
    width : 85%;
  }
}

@media (min-width : 1440px) {
  .BlogEntry {
    width : 50%;
  }
}

@media (max-width : 1439px) {
  .BlogEntry p {
    font-size: 20px;
  }
}

@media (min-width : 1440px) {
  .BlogEntry p {
    font-size: 20px;
  }
}

.BlogEntry h1 {
  font-size: 40px;
}

.BlogEntryTitle {
  width: 70%;
}

@media (max-width : 1439px) {
  .BlogEntry h1 {
    margin-left: 10px;
    font-size: 20px;
  }
}

@media (min-width : 1440px) {
  .BlogEntry h1 {
    margin-left: 30px;
    font-size: 40px;
  }
}

.hidden {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0); /* Move to normal position */
}

.testObserver {
  width : 70%;
  height : 300px;
  background-color: blue;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* Define the CSS animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInTitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* Apply the animations to a class */
.fade-in {
  animation: fadeIn 1.2s ease-in-out;
}



.slide-up {
  animation: slideUp 0.5s ease-in-out;
}

.off-screen {
  animation: fade-out 1.2s both;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.Welcome {
  width : 100%;
  height : 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27, 1);
}

.WelcomeContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color : white;
  animation: fadeInTitle 2.0s both;
}

.WelcomeContainer h1 {

  font-family: GlitchFont;
}

@media (max-width : 1439px) {
  .WelcomeContainer h1 {
    font-size : 30px;
  }
}

@media (min-width : 1440px) {
  .WelcomeContainer h1 {
    font-size : 100px;
  }
}

.WelcomeContainer h2 {
  font-size : 30px;
  font-family: GlitchFont;
}

@media (max-width : 1439px) {
  .WelcomeContainer h2 {
    font-size : 15px;
  }
}

@media (min-width : 1440px) {
  .WelcomeContainer h2 {
    font-size : 30px;
  }
}
